@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(img.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculator{
    border: 1px solid #e0dfe5;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(76, 22, 201, 0.5), 0 0 0.3pc rgb(14, 14, 111);
    background-color: pink;
    opacity: 0.6;
}


input{
    width: 320px;
    border: 0.1px solid rgb(22, 20, 20);
    opacity: 0.45;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color:aqua;
}

input::placeholder{
    color: rgb(30, 8, 232);
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #1a1c1d;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
button:hover{
    color: aqua;
}

.equalBtn{
    background-color: #fb7c14;
}

.operator{
    color: rgb(18, 139, 219);
}